<template>
  <table style="width: auto; margin: 8px;">
    <thead>
      <tr>
        <th></th>
        <th v-for="color in colors" :key="color.hex" v-text="color.name" style="width: 260px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="color1 in colors" :key="color1.hex" >
        <td v-text="color1.name" style="vertical-align: middle; text-align: right; padding-right: 1rem; font-weight: bold;"></td>
        <td v-for="color2 in colors" :key="color2.hex"
            @click="copyTextToClipboard('background-color: ' + color1.hex + '; color: ' + color2.hex + ';')"
            :title="getWCAGMessage(calculateContrast(color1.hex, color2.hex))">
          <div style="display: flex; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 3rem; height: 3rem;"  class="cursor-copy"
               :style="{backgroundColor: color1.hex, color: color2.hex}"><span>A a</span></div>
          <div style="padding-left: 0.5rem;" v-if="color1.hex !== color2.hex">
            <div :class="getWCAGClass(calculateContrast(color1.hex, color2.hex))">Contrast Ratio: <strong>{{ calculateContrast(color1.hex, color2.hex).toFixed(2) }}:1</strong></div>

            </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style>
.cursor-copy {
  cursor: copy;
}
.wcag--fail {
  color: #999999;
}
.wcag--success {
  color: #111111;
}
.wcag--success::before {
  content: '✅';
  padding-right: 4px;
}
</style>

<script>
  export default {
    props: ['colors'],
    methods: {
      getWCAGClass (contrast) {
        if (contrast >= 7) {
          return 'wcag--success'
        }
        if (contrast >= 4.5) {
          return 'wcag--warning'
        }
        if (contrast >= 3) {
          return 'wcag--warning'
        }
        return 'wcag--fail'
      },
      getWCAGMessage (contrast) {
        if (contrast >= 7) {
          return 'Fully WCAG Compliant'
        }
        if (contrast >= 4.5) {
          return 'WCAG AAA Large / WCAG AA Normal'
        }
        if (contrast >= 3) {
          return 'WCAG AA Large'
        }
        return 'Not Compliant'
      },
      getRGBFromHex (hex) {
        let result = /^#?([a-fA-F0-9]{2})([a-fA-F0-9]{2})([a-fA-F0-9]{2})$/i.exec(hex)
        return result ? {
          red: parseInt(result[1], 16),
          green: parseInt(result[2], 16),
          blue: parseInt(result[3], 16)
        } : null
      },
      getLuminosity (r, g, b) {
        let a = [r, g, b].map(function (v) {
          v /= 255
          return v <= 0.03928 ? v / 12.92 : Math.pow((v + 0.055) / 1.055, 2.4)
        })
        return (a[0] * 0.2126) + (a[1] * 0.7152) + (a[2] * 0.0722);
      },
      calculateContrast (foreground_hex, background_hex) {
        let foreground = this.getRGBFromHex(foreground_hex)
        let background = this.getRGBFromHex(background_hex)

        if (foreground === null || background === null) {
          return 0
        }
        let fgL = this.getLuminosity(foreground.red, foreground.green, foreground.blue) + 0.05
        let bgL = this.getLuminosity(background.red, background.green, background.blue) + 0.05

        return Math.max(fgL, bgL) / Math.min(fgL, bgL)
      },
      isWCAGNormalAA (color1, color2) {
        return this.calculateContrast(color1, color2) >= 4.5
      },
      isWCAGNormalAAA (color1, color2) {
        return this.calculateContrast(color1, color2) >= 7
      },
      isWCAGLargeAA (color1, color2) {
        return this.calculateContrast(color1, color2) >= 3
      },
      isWCAGLargeAAA (color1, color2) {
        return this.calculateContrast(color1, color2) >= 4.5
      },

      copyTextToClipboard(text) {
        if (!navigator.clipboard) {
          this.fallbackCopyTextToClipboard(text)
          return
        }
        navigator.clipboard.writeText(text)
      },
      fallbackCopyTextToClipboard(text) {
        let textarea = document.createElement('textarea')
        textarea.value = text
        document.body.appendChild(textarea)
        textarea.focus()
        textarea.select()

        document.execCommand('copy')

        document.body.removeChild(textarea)
      }
    }
  }
</script>
